<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">

      <a href="/" class="brand-logo center">StoryBooks</a>
      <a href="#" class="sidenav-trigger show-on-medium-and-up" data-target="main-menu">
        <i class="fas fa-bars fa-2x"></i>
      </a>
      <!-- Right NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li>
          <a href="/dashboard">Welcome {{user.firstName}}</a>
        </li>
        <li>
          <a href="/auth/logout">
            <i class="fas fa-sign-out-alt fa-sm"></i> Logout</a>
        </li>
        {{else}}
        <li>
          <a href="/stories">
            <i class="fa fa-book fa-sm"></i> Public Stories</a>
        </li>
        {{/if}}
      </ul>
      <!-- SIDE MENU -->
      <ul class="sidenav" id="main-menu">

        {{#if user}}
        <li>
          <a href="/stories">
            <i class="fa fa-book fa-ms"></i> Public Stories</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/dashboard">
            <i class="fa fa-cog fa-ms"></i> Dashboard</a>
        </li>
        <li>
          <a href="/stories/my">
            <i class="fa fa-user fa-ms"></i> My Stories</a>
        </li>
        <li>
          <a href="/auth/logout">
            <i class="fas fa-sign-out-alt fa"></i> Logout</a>
        </li>
        {{else}}
        <li>
          <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left"></i> Login With Google</a>
        </li>
        <li>
          <a href="/stories">
            <i class="fa fa-book fa-ms"></i> Public Stories</a>
        </li>
        <li class="divider"></li>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>